@font-face {
    font-family: MarquetteFont;
    src: url(/styles/fonts/Marquette.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');

:root {
    /* --rich-black: #000814ff;
    --oxford-blue: #001d3dff;
    --navy-blue: #000066ff;
    --mikado-yellow: #ffc300ff;
    --gold: #ffd60aff; */

    --white-smoke: #f5f5f5;
    --aureolin: #ffee32;
    --jonquil: #ffd100;
    --eerie-black: #202020;
    --jet: #333533;

    /* --timberwolf: hsla(0, 0%, 84%, 1);
--aureolin: hsla(55, 100%, 60%, 1);
--jonquil: hsla(49, 100%, 50%, 1);
--eerie-black: hsla(0, 0%, 13%, 1);
--jet: hsla(120, 2%, 20%, 1); */
}

body, html {
    width: 100%;
    margin: 0;
    font-family: 'PT Serif';
   
}
.header-brand {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40% 20% 40%;
    max-width: none;
    width: 100%;
    background-color: aquamarine;
}

.slide-menu {
    background-color: brown;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.name {
    background-color: blueviolet;
    font-style: italic;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: MarquetteFont;
    color: var(--gold);
}

.name h1 {
    font-weight: lighter;
}

.social-head {
    background-color: chocolate;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    column-gap: 15px;

}

.opening {
    background-color: aqua;
}

.parallax {
    background-color: black;
    height: 20px;
    margin-bottom: 40px;
}

.card-container {
    background-color: aqua;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    border-radius: 25px;
    /* background: #d1f1cf; */
    box-shadow:  12px 12px 24px #9bb299, -12px -12px 24px #ffffff;
}

.jobs {
    background-color: blue;
    display: grid;
    margin: auto;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 25px;
    /* background: #d1f1cf; */
    box-shadow:  12px 12px 24px #9bb299, -12px -12px 24px #ffffff;
    padding: 10px;

}


.job-box {
    background-color: chartreuse;
    align-self: center;
    justify-self: center;
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 5px;
    border-radius: 25px;
    /* background: #d1f1cf; */
    box-shadow:  1px 12px 24px #9bb299, -1px -12px 24px #ffffff;
    padding: 10px;
}

.contacts {
    background-color: aquamarine;
    margin-top: 40px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 30px;
    gap: 30px;
}

.contactus {
    grid-column: 1/4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

.bottom-banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}
.designer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

.social-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    
}

.top-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}


.formulary {
    width: 450px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
    grid-column: 1/4;
}

.formulary h1, h3, p {
    text-align: center;
    font-style: italic;
}

.sep {
    color: blue;
}

label {
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 45px;
    top: 7px;
    transition: .2s ease all;
    text-align: center;
  }

input {
    width: 320px;
    height: 30px;
  }

textarea {
    width: 320px;
    height: 200px;
    resize: none;
}

input, textarea {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #424242;
    background: none;

}

input:focus, textarea:focus {
    outline: none;
}

input:focus + .formulary-label {
    margin-top: -25px;
}

textarea:focus + .formulary-label {
    margin-top: -25px;
}

.group {
    display: flex;
    justify-content: center;
    margin: 25px;
    position: relative;
}

.btn-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.btn-submit {
    width: 80px;
    height: 25px;
    border-radius: 10%;
}

.fa.fa-linkedin, .fa.fa-github, .fa.fa-whatsapp {
    color: white;
    font-size: 25px;
}

.fix {
    margin-top: -25px;
}
/* *:before, *:after {
    box-sizing: border-box;
} */

